@charset "UTF-8";
:root {
  --main-text-color: #757575;
  --main-batton-address-color: #ffffff;
  --accent-color: #2196f3;
  --portfolio-main-color: #212121;
  --webstudio-text-color: #000000;
  --background-text-button-color: #f5f4fa;
  --footer-main-background-color: #2f303a;
  --var-main-color: #e5e5e5;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
  background-color: var(--main-batton-address-color);
}

footer {
  background-color: var(--footer-main-background-color);
}

.list {
  list-style: none;
}

.invisible {
  display: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.portfolio-list {
  display: block;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.project__item {
  width: 100%;
  margin-bottom: 30px;
}

.project__item:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 479px) {
  .project__item:ntn-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .project__item:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .project__item:nth-child(3n) {
    margin-right: 0px;
  }
  .project__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--webstudio-text-color);
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  color: var(--accent-color);
  text-decoration: none;
}

.footer-menu {
  display: inline-block;
}

.footer__studio {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-batton-address-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-menu-list {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-menu-list {
    margin-left: 76px;
  }
}

.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--portfolio-main-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.material-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .material-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button__style {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-batton-address-color);
  text-align: center;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__style:hover,
.button__style :focus {
  background-color: #188ce8;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link :focus {
  background-color: #2196f3;
}

.social__icons {
  fill: #afb1b8;
  content: '';
  background-repeat: no-repeat;
  margin-top: 12px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icons,
.social__link:focus .social__icons {
  fill: #ffffff;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 500ms, visibility 500ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: var(--main-batton-address-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--main-batton-address-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close__icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__icon:hover {
  color: var(--accent-color);
}

.modal__close:hover .modal-close__icon,
.modal__close:focus .modal-close__icon {
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03;
  text-align: center;
  margin-bottom: 12px;
  color: var(--portfolio-main-color);
}

.form .button__style {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  position: relative;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.name-margin {
  margin-top: 0px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 11px 12px 11px 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__text {
  display: block;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input:hover,
.form__text:hover,
.form__input:focus,
.form__text:focus {
  border-color: var(--accent-color);
}

.form__icon {
  display: inline-block;
  top: 50%;
  left: 12px;
  position: absolute;
  fill: var(--portfolio-main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conditions {
  margin-bottom: 30px;
}

.conditions__link {
  color: var(--accent-color);
}

.input__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: solid 2px #212121;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox:hover + .checkbox__icon,
.checkbox:focus + .checkbox__icon {
  border: solid 2px #2196f3;
}

.checkbox:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/chek_form.svg);
  background-size: contain;
  background-origin: border-box;
}

/* footer send menu */
.footer-con-item:not(:last-child) {
  margin-right: 70px;
}

.footer-con-item:last-child {
  margin-left: auto;
}

.footer__input {
  height: 50px;
  width: 450px;
  padding: 0 15px;
  margin-right: 12px;
  margin-bottom: 20px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-batton-address-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__input:hover,
.footer__input :focus {
  border-color: var(--accent-color);
}

.btn-send {
  display: inline-flex;
  align-items: center;
}

.icon-send-btn {
  margin-left: 10px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header {
  height: 60px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  border-width: 1px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
}

.site-list__link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--portfolio-main-color);
  display: block;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-list__link:hover,
.site-list__link :focus {
  color: var(--accent-color);
}

.portfolio-text-color {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  background-color: var(--accent-color);
  bottom: -32px;
}

@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -30px;
  }
}

.current-portfolio {
  position: relative;
}

.current-portfolio::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  background-color: var(--accent-color);
  bottom: -44px;
}

.border-header {
  border-bottom: 1px solid #ececec;
}

.site-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  display: flex;
  list-style: none;
  margin-left: 93px;
  margin-bottom: 32px;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .site-list {
    display: none;
  }
}

.site-list .site-list__link {
  margin-right: 50px;
}

.site-list .site-list__link :not(:last-child) {
  margin-right: 50px;
}

.logo-header {
  color: var(--accent-color);
}

.site-list__logo-color {
  color: var(--accent-color);
}

.contact-list {
  list-style: none;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .contact-list {
    flex-direction: column;
    align-content: flex-end;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: 50px;
  }
  .contact-list:not(:last-child) {
    margin-right: 0px;
  }
}

.site-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}

.site-list__link:hover,
.site-list__link :focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .site-list__link {
    margin-right: 50px;
  }
  .site-list__link:not(:last-child) {
    margin-right: 0px;
  }
}

.contact-list__icon {
  margin-right: 10px;
  align-items: center;
}

.contact-list__list {
  display: flex;
  align-items: center;
}

.icons-header {
  fill: currentColor;
}

.icon-malito {
  fill: solid #757575;
}

.btn-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
}

@media screen and (min-width: 767px) {
  .btn-menu {
    display: none;
  }
}

.menu-open-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--accent-color);
}

.menu-open-btn:hover .menu-open__icon,
.menu-open-btn:focus .menu-open__icon {
  fill: currentColor;
}

.menu-open__icon {
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open__icon {
  width: 40px;
  height: 40px;
}

.mob-menu {
  position: fixed;
  background-color: var(--main-batton-address-color);
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  height: 100%;
  display: block;
  flex-direction: column;
  transition: left 500ms, visibility 500ms;
}

.mob-menu.is-hidden-menu {
  left: 100%;
}

.is-hidden-menu {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu-top {
  margin-bottom: auto;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  display: flex;
  border: none;
  background-color: transparent;
  color: var(--accent-color);
}

.menu-close-btn:hover .menu-close__icon,
.menu-close-btn:focus .menu-close__icon {
  fill: currentColor;
}

.menu-close__icon {
  width: 18.67px;
  height: 18.67px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__list {
  display: inline-block;
}

.mob-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--portfolio-main-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child),
.mob-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact-bottom {
  margin-top: 302px;
}

.mob-tel__link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-tel__link:hover, .mob-tel__link:focus {
  color: var(--title-text-color);
}

.mob-mail__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 64px;
  text-decoration: none;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-mail__link:hover, .mob-mail__link:focus {
  color: var(--accent-color);
}

.mob-social__list {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 83px;
}

.mob-social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social__item {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.mob-social__link {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social__link:hover, .mob-social__link:focus {
  color: var(--portfolio-main-color);
}

.hero {
  background-color: var(--footer-main-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-mob-1x.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-tab-1x.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_desk_2x.jpg);
  }
}

.hero-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-batton-address-color);
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    list-style: none;
  }
}

.filter__item {
  display: list-item;
  margin-right: 8px;
  list-style: none;
}

.filter__btn {
  display: list-item;
  font-family: inherit;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03;
  text-align: center;
  color: var(--portfolio-main-color);
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
  background: var(--background-text-button-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn :focus {
  background-color: #188ce8;
  color: var(--main-batton-address-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter__item .filter-list:last-child {
  margin-right: 0px;
}

.filter__btm-break {
  margin-top: 15px;
}

/*------Секция рода занятий нашей организации--*/
.card-set {
  display: block;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.material__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-name-text-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .material__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

.material__text {
  display: block;
  line-height: 1.71;
  font-style: normal;
  color: var(--main-text-color);
  padding: 0px;
  margin: 0px;
}

.material__item {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .material__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .material__item {
    width: calc((100% - 4 * 15px) / 2);
  }
  .material__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .material__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.material__item::before {
  display: block;
  height: 120px;
  content: "";
  background-color: var(--background-text-button-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-grafik::before {
  background-image: url(../images/diagram1.svg);
}

.icon-cosmic::before {
  background-image: url(../images/astronaut.svg);
}

.work-card {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-wrap: nowrap;
}

.work-section {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-card__item {
  display: block;
  margin-right: 30px;
}

.work-card .work-card__item:last-child {
  margin-right: 0px;
}

.work__wrap {
  display: block;
  position: relative;
}

.work__text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-batton-address-color);
  padding: 27px 0;
  width: 100%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: var(--background-text-button-color);
}

.team__img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__cards-shadow {
  border-radius: 0px 0px 4px 4px;
}

.team__item {
  display: block;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 4px 4px 0 #ececec;
  background-color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 480px) and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0px;
    align-content: center;
  }
}

.team-set {
  display: block;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .team-set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.team__title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-name-text-color);
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.client__item {
  margin-bottom: 30px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:hover, .client__item:focus {
  border-color: var(--accent-color);
}

.client__item:nth-child(n + 5) {
  margin-bottom: 0px;
}

.client__icon {
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:hover .client__icon,
.client__item:focus .client__icon {
  fill: var(--accent-color);
}

.client__link {
  width: 106px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 16px auto 16px auto;
  fill: #afb1b8;
}

.project__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--portfolio-main-color);
  text-decoration: none;
  margin-bottom: 4px;
}

.project-content-size {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-top-style: none;
}

.project__item-wrap {
  position: relative;
  overflow: hidden;
}

.project__img-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-batton-address-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transform: translateY(101%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__img-text,
.project__link:focus .project__img-text {
  transform: translateY(0);
}

.project__link {
  text-decoration: none;
  display: block;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link :focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
  text-decoration: none;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.addres__footer-margin {
  margin-top: 20px;
}

.footer-li-addres-section {
  margin-bottom: 9px;
}

.address-list__contacts {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__contacts:hover,
.address-list__contacts :focus {
  color: var(--accent-color);
}

.address-list__link {
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  color: var(--main-batton-address-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover,
.address-list__link :focus {
  color: var(--accent-color);
}

.footer-container {
  display: block;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

.right-footer-container {
  margin-bottom: 60px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .right-footer-container {
    margin-right: 89px;
  }
}

.right-footer-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-batton-address-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.right-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-footer__item {
  justify-content: baseline;
  margin-right: 10px;
}

.right-footer__link {
  width: 44px;
  height: 44px;
  background-color: #44454e;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.right-footer__link:hover,
.right-footer__link :focus {
  background-color: var(--accent-color);
}

.right-footer__item:last-child {
  margin-right: 0px;
}

.right-footer__icons {
  fill: #ffffff;
  margin-top: 12px;
  cursor: pointer;
}

.footer-menu {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foter-addres-list {
  padding-top: 20px;
}

.footer-border {
  border-style: solid 1px #000000;
  box-shadow: 0 4px 4px 0 #000000;
}

.footer-con-item {
  display: block;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */