// ------ Стили для хедера -------//

.header-container {
  display: flex;
  align-items: center;
}
.header_nav {
  display: flex;
  align-items: center;
}
.header {
  height: 60px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  border-width: 1px;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 1200px) {
    height: 80px;
  }
}

.site-list__link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--portfolio-main-color);
  display: block;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--accent-color);
  }
}
.portfolio-text-color {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    background-color: var(--accent-color);
    bottom: -32px;
    @media screen and (min-width: 1200px) {
      bottom: -30px;
    }
  }
}

.current-portfolio {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    background-color: var(--accent-color);
    bottom: -44px;
    // @media screen and (min-width: 1200px) {
    //   bottom: -34px;
    // }
  }
}

.border-header {
  border-bottom: 1px solid #ececec;
}
.site-list {
  @include font(14px, 500, 1.14, 0.02em);
  color: hsl(0, 0%, 13%);
  text-decoration: none;
  display: flex;
  list-style: none;
  margin-left: 93px;
  margin-bottom: 32px;
  margin-top: 32px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-list .site-list__link {
  margin-right: 50px;
}
.site-list .site-list__link :not(:last-child) {
  margin-right: 50px;
}

.logo-header {
  color: var(--accent-color);
}
.site-list__logo-color {
  color: var(--accent-color);
}
.contact-list {
  list-style: none;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    flex-direction: column;
    align-content: flex-end;
    margin-right: 0px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: 50px;
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}

.site-list__link {
  @include font(14px, 500, 1.14, 0.02em);
  text-decoration: none;
  color: var(--main-text-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}
.contact-list__icon {
  margin-right: 10px;
  align-items: center;
}
.contact-list__list {
  display: flex;
  align-items: center;
}
.icons-header {
  fill: currentColor;
}
.icon-malito {
  fill: solid #757575;
}

.btn-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-open-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--accent-color);
  &:hover .menu-open__icon,
  &:focus .menu-open__icon {
    fill: currentColor;
  }
}

.menu-open__icon {
  align-items: center;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open__icon {
  width: 40px;
  height: 16px;
}

.mob-menu {
  position: fixed;
  background-color: var(--main-batton-address-color);
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1;
  height: 100%;
  display: flex;

  flex-direction: column;
  transition: left 500ms, visibility 500ms;
}

.mob-menu.is-hidden-menu {
  left: 100%;
}

.is-hidden-menu {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu-top {
  margin-bottom: auto;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  display: flex;
  border: none;
  background-color: transparent;
  color: var(--accent-color);
  &:hover .menu-close__icon,
  &:focus .menu-close__icon {
    fill: currentColor;
  }
}

// header menu //

.menu-close__icon {
  width: 18.67px;
  height: 18.67px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__list {
  display: inline-block;
  // margin-bottom: 302px;
}

.mob-menu__link {
  @include font(40px, 500, 1.7, 0.02em);
  color: var(--portfolio-main-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu__item,
.mob-contact__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contact-bottom {
  margin-top: auto;
}

.mob-tel__link {
  @include font(34px, 500, 1.17, 0.02em);
  color: var(--accent-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--title-text-color);
  }
}

.mob-mail__link {
  @include font(24px, 500, 1.16, 0.02em);
  display: block;
  margin-bottom: 64px;
  text-decoration: none;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-social__list {
  display: flex;
  position: fixed;
  justify-content: center;
  text-align: center;
}

.mob-social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social__item {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.mob-social__item:first-child {
  margin-left: 0px;
}

.mob-social__link {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--portfolio-main-color);
  }
  text-decoration: none;
}

.mob-menu__link .site-list__logo-color {
  color: #2196f3;
}
