// ------- Хиро секция -------//
.hero {
  background-color: var(--footer-main-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  @include font(44px, 900, 1.36, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-batton-address-color);
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: block;
}
.main-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
