/*------Секция рода занятий нашей организации--*/
.card-set {
  display: block;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.material__title {
  @include font(14px, 700, 1.17, 0.03em);
  text-transform: uppercase;
  color: var(--main-name-text-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    @include font(14px, 700, 1.14, 0.03em);
  }
}

.material__text {
  display: block;
  line-height: 1.71;
  font-style: Regular;
  color: var(--main-text-color);
  padding: 0px;
  margin: 0px;
}

.material__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
  &::before {
    display: block;
    height: 120px;
    content: "";
    background-color: var(--background-text-button-color);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-grafik::before {
  background-image: url(../images/diagram1.svg);
}
.icon-cosmic::before {
  background-image: url(../images/astronaut.svg);
}
