//----- header logo -----//
.logo {
  font-family: Raleway, sans-serif;
  @include font(24px, 700, 1.16, 0.03em);
  text-decoration: none;
  color: var(--webstudio-text-color);
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// @include font(26px, 700, 1.19, 0.03em);
.logo-header {
  color: var(--accent-color);
  text-decoration: none;
}

//----footer logo ----//
.footer-menu {
  display: inline-block;
}
.footer__studio {
  font-family: Raleway;
  @include font(26px, 700, 1.17, 0.03em);
  color: var(--main-batton-address-color);
  text-decoration: none;
  margin-bottom: 20px;
}
.footer-menu-list {
  display: block;
}
