//----- стили под заговловки сайта ----//
.section__title {
  @include font(28px, 700, 1.16, 0.03em);
  text-align: center;
  color: var(--portfolio-main-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
