//---- Для проектов портфолио ----//
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
