@mixin font($fs: 14px, $fw: 700, $lh: 1.14, $ls: 0.03em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desk {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
