:root {
  --main-text-color: #757575;
  --main-batton-address-color: #ffffff;
  --accent-color: #2196f3;
  --portfolio-main-color: #212121;
  --webstudio-text-color: #000000;
  --background-text-button-color: #f5f4fa;
  --footer-main-background-color: #2f303a;
  --var-main-color: #e5e5e5;
}
